*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #174E87;
}
html{
    background-color: #174E87;
    height: 100%;
    margin: 0;
}
body{
    background-color: #174E87;
}
#menu_control{
    position: absolute;
    z-index: -2;
    opacity: 0;
}
.headerr{
    height: 50px;
    background-color: #174E87;
    position: relative;
   
}
.logoo{
    width: 90px;
    height: 80px;
}
.logoo img{
    vertical-align: middle;
    padding-top: 20px;
    padding-left: 20px;
    width: 80px;
    height: 60px;
}

.menu_btn{
    width: 40px;
    height: 40px;
    background-color: #FBD96E;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
.menu_btn span{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
.menu_btn::before{
    content: "";
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: white;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px white, 0px -8px 0px white;
}



.main{
    width: 100%;
    margin-top: 30px;
    background-color: #174E87;
    max-height: 225px;
    z-index: 15;
}
.main img{
    
    width: 100%;
    opacity: .4;
    transition: 0.5s ease-in;
}
.main img:hover{
    opacity: 1;;
}


#menu_control:checked ~ .headerr .navv{
    Left: 0;
}

#menu_control:checked ~ .main img{
    opacity: .4;
}
.navv{
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #174E87;
    position: absolute;
    top: 70px;
    Left: -100%;
    transition: .5s;
    z-index: 16;
}
.navv a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #FBD96E;
}
/*上面是header的部分*/
.news{
    font-style: normal;
    margin: auto;
    color: white;
    font-size: 16px;
    text-align: center;
    
}
.acttive{
    background-color: #174E87;  
    height: 240px;
    vertical-align: middle;
   
}
.border1{      
    border: 6px solid#FBD96E;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 11px;
    height: 250px;
    background-color: #ffffff00;
}
.banner {
	margin-top: 0px;
}
.carousel-inner{
    height: 200px;
    width: 250px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.banner .container-fluid {
	padding:0!important;
}
.d-block w-100:hover{
    overflow:hidden;
    transform:scale(1.1);
    transition: all 1s ease-out;
}
.wrrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.acttive2{
    display: none;
}
.footer{
    height: 100px;
    padding-top: 25px;
    padding-bottom: 50px;
    justify-content: center;
  margin-top: -60px;
   background-color: rgb(14, 19, 90);
   color: white;
   margin-left: auto;
   margin-right: auto;
}
.box02{
    background-color: rgb(14, 19, 90);
    font-size: 12px;
    display: flex;    
}
.footertext{
    font-size: 12px;
    background-color:rgb(14, 19, 90) ;
    margin: auto;
}
.word1{
    background-color: rgb(14, 19, 90);
    font-size: 12px;
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}
.word2{
    background-color: rgb(14, 19, 90);
    font-size: 12px;
    display: flex; 
    justify-content: center;
    margin-top: 0px;
}

@media screen and (min-width:720px) {
    #menu_control{
        position: absolute;
        opacity: 0;
    }
    .menu_btn{ display: none;}
    .headerr{
        display: flex; 
        justify-content: space-between;  
    }
    .logoo{
        width: 150px;
        height: 100px;
        padding-left: 80px;
        margin-top: -10px;
    }
    .logoo img{
        /*vertical-align: middle;*/

        width: 140px;
        height: 90px;
    }
    .navv{
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top:40px;
    }
    .news{
        font-style: normal;
        margin: auto;
        color: white;
        font-size: 24px;
        text-align: center;
    }
    .acttive{
        background-color: #174E87;  
        height: 240px;
        vertical-align: middle;
        
    }
    .acttive2{
        display: none;
    }
    .border1{      
        border: 6px solid#FBD96E;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
        border-radius: 11px;
        height: 480px;
        background-color: #174E87;
    }
    .main{
        width: 100%;
        height: 100%;
        max-height: 450px;
    }
  
    .banner {
        margin-top: 0px;
    }
    .carousel-inner{
        height: 400px;
        width: 600px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .banner .container-fluid {
        padding:0!important;
    }
    .footer{
        height: 120px;
        padding-top: 25px;
        padding-bottom: 50px;
        justify-content: center;
       margin-top: 0px;
       background-color: rgb(14, 19, 90);
       color: white;
       margin-left: auto;
       margin-right: auto;
    }
}
@media screen and (min-width:1024px){
    #menu_control{
        position: absolute;
        opacity: 0;
    }
    .menu_btn{ display: none;}
    .headerr{
        display: flex; 
        justify-content: space-between;  
    }
    .logoo{
        width: 150px;
        height: 100px;
        padding-left: 100px;
    }
    .logoo img{
        /*vertical-align: middle;*/

        width: 140px;
        height: 90px;
    }
    .navv{
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top:40px;
    }
    .main{
        width: 100%;
        height: 100%;
        padding-top: 35px;
        display: block;
        max-height: 750px;
       
    }

    .main img{
       
        width: 100%;
        max-height: 650px;
        opacity: .4;
        transition: 0.5s ease-in;
        
    }

    
    .navv a{
        display: block;
        border-bottom: none;
        margin: auto;
    }
       

    
    .menu:hover{
   
        box-shadow: inset 200px 50px 200px 0px #FBD96E;
        color: #174E87;
        cursor: pointer;
        border-radius: 20px;
    }
    .active{
        display: none;
        opacity: 0;
        position: absolute;
    }
    .banner{
        opacity: 0;
        background-color: #174E87;
        display: none;
    }
    .carousel slide{
        opacity: 0;
        background-color: #174E87;
        display: none;
    }
    .border1{
        vertical-align: middle;
    }
    .acttive2{
        display: flex;
        z-index: 15px;
        background-color: #174E87;
        justify-content: space-around;  
        vertical-align: middle;
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .acttive2 img:hover{
        transform:scale(1.1);
        transition: all 1s ease-out;
    }
    .xx{
        width: 400px;
        vertical-align: middle;
        border-radius: 11px;

    }
    .footer{
        height: 120px;
        padding-top: 25px;
        padding-bottom: 50px;
        justify-content: center;
        margin-top: 550px;
        background-color: rgb(14, 19, 90);
        color: white;
        margin-left: auto;
        margin-right: auto;
    }
}