*{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #174E87;
}
html{
    background-color: #174E87;
    height: 100%;
    margin: 0;
}
body{
    background-color: #174E87;
}
#menu_control{
    position: absolute;
    z-index: -2;
    opacity: 0;
}
.headerr{
    height: 50px;
    background-color: #174E87;
    position: relative;
   
}
.logoo{
    width: 90px;
    height: 80px;
}
.logoo img{
    vertical-align: middle;
    padding-top: 20px;
    padding-left: 20px;
    width: 80px;
    height: 60px;
}

.menu_btn{
    width: 40px;
    height: 40px;
    background-color: #FBD96E;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
.menu_btn span{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
.menu_btn::before{
    content: "";
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: white;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px white, 0px -8px 0px white;
}

#menu_control:checked ~ .headerr .navv{
    Left: 0;
}

#menu_control:checked ~ .main img{
    opacity: .4;
}
.navv{
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #174E87;
    position: absolute;
    top: 70px;
    Left: -100%;
    transition: .5s;
    z-index: 16;
}
.navv a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #FBD96E;
}
/*上面是header的部分*/
.menubox1{
    width: 180px;
    height: auto;
    display: inline-flex;
    margin-left: 4px;
}
.menubox2{
    width: 180px;
    height: auto;
    display: inline-flex;
    margin-left: 4px;

}
.menubox3{
    width: 180px;
    height: auto;
    display: inline-flex;
    margin-left: 4px;

}
.menubox4{
    width: 180px;
    height: auto;
    display: inline-flex;
}
.menubox5{
    width: 180px;
    height: auto;
    display: inline-flex;
}
.menubox5{
    width: 180px;
    height: auto;
    display: inline-flex;
}
.menubox6{
    width: 180px;
    height: auto;
    display: inline-flex;
}
.title1{
    width: 30px;
    height: 185px;
    font-size: 24px;
    vertical-align: middle;
    margin-top: 80px;
    padding-top:30px;
    padding-left: 2px;
    background-color: #FBD96E;
    color:#174E87;
    border-radius: 4px;
}
.box1{
    border: 3px solid #FBD96E;
    border-radius: 4px;
    width: 150px;
    margin-top: 30px;
    margin-left: 0px;
    display: flex; 
    justify-content: space-between;  
}
.box1:hover{
    transform:scale(1.1);
    transition: all 1s ease-out;
}
.content{
    font-size: 13px;
    color: #fff;
}

.title2{
    width: 30px;
    height: 110px;
    background-color: #FBD96E;
    font-size: 24px;
    padding-left: 2px;
    color:#174E87;
    border-radius: 4px;
    margin-top: 50px;
}
.box2{
    border: 3px solid #FBD96E;
    border-radius: 4px;
    width: 150px;
    margin-top: 20px;
    
    display: flex; 
    justify-content: space-between;  
}
.box2:hover{
    transform:scale(1.1);
    transition: all 1s ease-out;
}
.title3{
    width: 30px;
    height: 150px;
    background-color: #FBD96E;
    font-size: 24px;
    padding-left: 2px;
    color:#174E87;
    border-radius: 4px;
    margin-top:30px;
}
.title4{
    width: 30px;
    height: 150px;
    background-color: #FBD96E;
    font-size: 24px;
    padding-left: 2px;
    color:#174E87;
    border-radius: 4px;
    margin-top:30px;
}
.box3{
    border: 3px solid #FBD96E;
    border-radius: 4px;
    width: 150px;
    margin-top:20px;

    display: flex; 
    justify-content: space-between;  
}
.box4{
    border: 3px solid #FBD96E;
    border-radius: 4px;
    width: 150px;
    margin-top:20px;

    display: flex; 
    justify-content: space-between; 
}
.box4:hover{
    transform:scale(1.1);
    transition: all 1s ease-out;
}
.box3:hover{
    transform:scale(1.1);
    transition: all 1s ease-out;
}
.wrrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer{
    height: 100px;
    padding-top: 25px;
    padding-bottom: 50px;
    justify-content: center;
    margin-top: 160px;
    background-color: rgb(14, 19, 90);
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.box02{
    background-color: rgb(14, 19, 90);
    font-size: 12px;
    display: flex;    
}
.footertext{
    font-size: 12px;
    background-color:rgb(14, 19, 90) ;
    margin: auto;
}
.word1{
    background-color: rgb(14, 19, 90);
    font-size: 12px;
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}
.word2{
    background-color: rgb(14, 19, 90);
    font-size: 12px;
    display: flex; 
    justify-content: center;
    margin-top: 0px;
}

@media screen and (min-width:720px) {
    #menu_control{
        position: absolute;
        opacity: 0;
    }
    .menu_btn{ display: none;}
    .headerr{
        display: flex; 
        justify-content: space-between;  
    }
    .logoo{
        width: 150px;
        height: 100px;
        padding-left: 80px;
        margin-top: -10px;
    }
    .logoo img{
        /*vertical-align: middle;*/

        width: 140px;
        height: 90px;
    }
    .navv{
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top:30px;
    }
    .menu{
        margin-top: 20px;
    }
    .wrrap{
       height: calc(100vh - 100px);
    }
    .footer{
        margin-top: 0px;
        height: 120px;
    }
    .menu{
        margin-left: 20px;
        margin-right: auto;
    }
    .menubox1{
        width: 250px;
        
    }
    .menubox2{
        width: 250px;
    }
    .menubox3{
        width: 250px;
    }
    .menubox4{
        width: 250px;
        display: inline-flex;
        
    }
    .menubox5{
        width: 250px;
        vertical-align: top;
        position: absolute;
        top: 80px; 
    }
    .menubox6{
        width: 250px;
        position: absolute;
        top: 410px;
    }
    .box1{
        width: 200px;
        height: 500px;
    }
    .box2{
        width: 200px;
    }
    .box3{
        width: 200px;
    }
    .box4{
        width: 200px;
    }
    .title3{
        margin-top: 70px;
    }
    .title4{
        margin-top: 40px; 
    }
    .content{
        font-size: 18px;
        padding: 3.8px;
    }
}
@media screen and (min-width:1024px) {
  
    .menu{
        padding-right:200px;
        padding-top: 50px;
       margin-left:auto;
       margin-right: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .title1{
        margin-top: 50px;
    }
    .box1{
        margin-top: 0px;
    }
    .box2{
        margin-top: 0px;
    }
    .box4{
        margin-top: 0px;
    }
    .menubox1{
        padding-top: -20px;
    }
    .menubox6{
        margin-left: 1000px;
        margin-top: 20px;
        
    }
    .menubox5{
       margin-left: 1000px; 
       padding-top: 20px;
    }
   .menu1:hover
     {
         
        box-shadow: inset 200px 50px 200px 0px #FBD96E;
        color: #174E87;
        cursor: pointer;
        border-radius: 20px;
    }
    .menu2:hover
     {
         
        box-shadow: inset 200px 50px 200px 0px #FBD96E;
        color: #174E87;
        cursor: pointer;
        border-radius: 20px;
    }
    .menu3:hover
     {
         
        box-shadow: inset 200px 50px 200px 0px #FBD96E;
        color: #174E87;
        cursor: pointer;
        border-radius: 20px;
    }
    .menu4:hover
     {
         
        box-shadow: inset 200px 50px 200px 0px #FBD96E;
        color: #174E87;
        cursor: pointer;
        border-radius: 20px;
    }
   }
